streamlit==1.43.0
pandas==2.2.3
numpy==1.26.4
matplotlib==3.7.3
scikit-learn==1.6.1
xgboost==2.1.4
seaborn==0.13.2
plotly==6.0.1
lightgbm==4.6.0
catboost==1.2.8
openpyxl==3.1.5
pyarrow==19.0.1

